@model Loading
@{ 
    var m = Model ?? new Loading();
}
<div id="@m.Id" class="container min-vh-100">
    <div class="text-center" style="margin-top: @m.MarginTop">
        <div class="@m.LoadingClass text-secondary" style="width: @m.Size; height: @m.Size;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>